DATABASE_URL=

REDDIT_CLIENT_ID=
REDDIT_SECRET_KEY=
REDDIT_USERNAME=
REDDIT_PASSWORD=

REDDIT_SUBREDDITS=wallstreetbets,stocks,investing,stockmarket,options,dividends,ValueInvesting
REDDIT_FETCH_LIMIT=50