--extra-index-url https://download.pytorch.org/whl/cpu
SQLAlchemy>=2.0.35,<2.1
python-dotenv>=1.0.1,<2
praw>=7.7.1,<8
transformers>=4.46.3,<5
torch==2.4.1
numpy>=1.26.4,<2
spacy>=3.7.4,<3.8
psycopg2-binary>=2.9.9,<3
celery>=5.4.0,<6
redis>=5.0.8,<6
